:root{
    --background: #504537;
    --pri: #CDC5BA;
    --sec: #9F968B;
    --ter: #756D62;
    --cuar: #3E3933;
    --quin: #372C1E;
    --blanco: #ffffff;
    --negro: #111111;
    --oscuro: #313131;
    --gris: #919191;
}

body,html{
    font-family: 'Roboto';
    background-color: var(--pri);
    padding: 0;
    margin: 0;
}

/*              Utilidades              */

.text-spacing{
    letter-spacing: 7px;
}

.text-line{
    border-bottom: 4.5px solid var(--quin);
    padding-bottom: 20px;
}

.w-100 {
    width: 100%;
}

.flex{
    display: flex;
}

.centrar-texto{
    text-align: center;
}

.shadow{
    filter: drop-shadow(0 2px 5px var(--gris));
}


/*              Fuentes              */


h1{
    size: 30px;
}

h2{
    size: 18px;
}


/*              Header              */
.swal2-confirm.custom-confirm-button {
    background-color: var(--background)!important;
    color: var(--pri) !important;
}
.cont-principal{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: block;
}
.cont-logo{
    justify-content: space-between;
    align-items: center;
    display: flex;
    /* background: linear-gradient(180deg,var(--quin),var(--cuar),var(--sec) ,var(--cuar),var(--quin)); */
    background-color: var(--ter);
}
.direccion{
    text-align: center;
    display: flex;
    margin-left: 20px;
    color: var(--quin);
    font-size: 13px;
    
}
.logo{
    padding: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: var(--quin);
    img{
        filter: drop-shadow(5px 5px 5px);
    }
    a{
        color: var(--negro);
        text-decoration: none;
        cursor: default;
    }
}
.redes{
    margin-right: 20px;
    a{
        padding-left: 5px;
        padding-right: 5px;
    }
    img{
        width: 25px;
        height: 25px;
        color: var(--quin);
    }
    img:hover{
        filter: drop-shadow(0 2px 5px var(--blanco));
       }
}

/*                 barra de navegacion                */

.navBar{
    background: linear-gradient(120deg, var(--sec), var(--pri), var(--sec));
    text-transform: uppercase;
    z-index: 1;
    width: 100%;
    border-top: 1px solid var(--quin);
    border-bottom: 1px solid var(--quin);
}
.fixed-nav{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    opacity: 85%;
}
.cont-navBar{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.items{
    a{
        text-decoration: none;
        color: var(--quin);
        justify-content: space-between;
        padding: 10px;
        margin-left: 15px;
    }
    a:hover{
        color:	var(--blanco);
        filter: drop-shadow(0 2px 5px var(--blanco));
    }
}

.end-navbar{
    display: flex;
    align-items: center;
    text-align: center;
    margin-right: 20px;
    button{
        border: none;
        background: none;
        color: var(--quin);
    }
    p{
        color: var(--quin);
    }
}

.usuario{
    display: flex;
    justify-content: center;
    font-size: 13px;
}


.nombreUsuario{
    margin-top: 5px;
    color: var(--quin);
    margin-right: 10px;
}
.btnIcon{
    cursor: pointer;
}
.dropdown {
    display: none;
    position: absolute;
    right: 0;
    background-color: var(--pri);
    max-width: 1200px;
    z-index: 1;
    margin-top: 34px;
}
.dropdown button {
    color: var(--quin);
    padding: 20px 16px;
    text-decoration: none;
    display: flex;
    justify-content: right;
    align-items: right;
    border: none;
    background: linear-gradient(120deg, var(--pri), var(--sec)90%);
    cursor: pointer;
    border-bottom: 1px solid var(--quin);
    border-right: 1px solid var(--quin);
    border-left: 1px solid var(--quin);
}

.dropdown button:hover {
    color:	var(--blanco);
}
.icono-usuario{
    margin-right: 10px;
    button{
        border-radius: 50%;
        color: var(--pri);
        background-color: var(--cuar);
        height: 20px;
    }
    button:hover{
        filter: drop-shadow(0 2px 5px var(--blanco));
    }
}
.shopping{
    button:hover{
        filter: drop-shadow(0 2px 5px var(--blanco));
    }
}
.shopping-cart{
    display: flex;
    justify-content: center;
    align-items: center;
    a{
        color: var(--cuar);
        font-size: 20px;
    }
}
.burger{
    display: none;
    button{
        border: none;
        background: none;
    }
    i{
        font-size: 25px;
        color: var(--quin);
        margin-left: 10px;
    } 
}
.items-mobile{
    
    background-color: var(--sec);
    text-transform: uppercase;
    display: none;
    a{
        text-decoration: none;
        color: var(--quin);
        padding: 15px;
        display: flex;
        border-bottom: 1px solid var(--quin);
    }
    a:hover{
        color: var(--blanco);
    }
}
.items-mobile-fixed{
    position: fixed;
    margin-top: 50px;
    top: 0;
    width: 100%;
    z-index: 1000;
    opacity: 70%;
}
@media (max-width: 768px){
    .items{
        display: none;
    }
    .burger{
        display: flex;
    }
    .direccion{
        display: none;
       }
    .redes{
        display: none;
    }
    .cont-logo{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo-footer{
        display: none;
    }
    .usuario{
        font-size: 13px;
        text-align: center;
    }
    
}
.login{
    a{
        text-decoration:none;
        text-transform: uppercase;
        color: var(--cuar);
        text-align: center;
        font-size: 14px;
        font-weight: bold;
       
    }
    a::before, a::after{
        content: 'ㅤ';
    }
    a:hover{
        color: var(--blanco);
        filter: drop-shadow(0 2px 5px var(--blanco));
    }
    
}
.registrarse  {
  display: flex;
  a{
    margin-top: 2px;
  }
}
.icono-user{
    margin-right: 10px;
    border-radius: 50%;
    background-color: var(--cuar);
    width: 20px;
    height: 20px;
    color: var(--gris);
}
.count{
    align-items: center;
   p{
    color: var(--quin);
    font-size: 13px;
   }
   
}

/*              carrusel                */

.carrusel{
    background-image: url("/images/backgroungUrban.png");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    height: 100%;
    position: relative;
    padding: 60px 0;
}
.carrusel-items{
    display: flex;
    overflow: hidden;
    cursor: pointer;
    padding: 60px;
}
.carrusel-item img{
    max-width: 250px;
    max-height: 450px;
    padding: 0px 100px;
}

.carrusel-item:hover{
    transform: scale(1.3);
    transition: transform 0.5s ease-in-out;
}
@media (max-width: 600px){
   .carrusel{
    background-image: url("/images/backgroundUrbanMovil.png");
    padding: 20px 0;
   }
   .carrusel-item img{
    padding: 0px 40px;
   }
   .carrusel-item:hover{
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out;
}
   
}
.flecha {
  position: absolute; 
  top: 35%;
  transform: translateY(-50%);
  cursor: pointer; 
  color: var(--quin);
}
.flecha{
    img{
        width: 40px;
        height: 35px;
        opacity: 50%;
    }
    img:hover{
        color: var(--sec);
        filter: drop-shadow(0 2px 5px var(--quin));
    }
}
.flecha-izquierda {
  left: 20px; 
}

.flecha-derecha {
  right: 20px;
}

/*              Footer                */

.footer{
    border-top: 1px solid var(--quin);
    justify-content:space-between ;
    align-items: start;
    display: flex;
    background: linear-gradient(120deg, var(--sec), var(--pri), var(--sec));
    padding-left: 60px;
    padding-right: 60px;
}
.logo-footer{
    padding: 50px;
    img{
        height: 90px;
        width: 90px;
    }
    
}
.redes-footer{
    display: block;
    img{
        width: 20px;
        height: 20px;
        margin-left: 13px;
    }
}
.cont-links{
    justify-content: space-between;
    display: none;
}

@media (min-width: 412px) {
    .cont-links{
        display: flex;
    }
}
.links-footer a{
    display: block;
    text-decoration: none;
    color: var(--quin);
    font-size: 15px;
    padding-bottom: 10px;
    text-transform: uppercase;
    
}
.links-footer{
    a:hover{
      color: var(--blanco);
      filter: drop-shadow(0 2px 5px var(--blanco));
    }
}
.redes-footer a{
   display: grid;
   margin-left: 25px;
   margin-bottom: 6px;
   img:hover{
    filter: drop-shadow(0 2px 5px #ffd7ab);
   }
}
.direccion-footer{
    display: none;
}

@media (max-width: 580px){
    .footer{
        padding: 20px;
        a, p, h3{
            font-size: 13px;
        }
    }
    .direccion-footer{
        font-size: 10px;
        display: flex;
        margin-top: 12px;
    }
    .atencion{
        margin-left: 20px;
    }
    
    .redes-footer a img{
        margin-bottom: 15px;
        margin-right: 20px;
    }
    .flecha{
        margin-top: 70px;
    }

}

.copyright{
    background-color: var(--cuar);
    color: var(--pri);
    text-align: center;
    font-size: small;
    padding: 3px;
    p{
        font-size: 10px;
    }
}
.preguntas{
    border-radius: 16px;
    box-shadow: 0  5px 10px var(--oscuro);
    padding: 20px;
    margin: 40px;
    h2{
        color: var(--background);
    }
    p{
        color: var(--quin);
    }
    a{
        text-decoration: none;
        color: var(--negro);
    }
    a:hover{
        color: var(--blanco);
        filter: drop-shadow(0 2px 5px var(--blanco));
    }
}