/*          Fuentes         */

h1, h2, a, p{
    color: var(--quin);
}

/*          Nosotros            */

.container-nosotros{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    hyphens: auto;
}

.container-nosotros__info p{
    margin-top: 1px;
}

@media (min-width: 768px) {
    
.container-nosotros__info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
}

.container-nosotros__categoria{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
    }
}
 
.container-nosotros__categoria{
    border-bottom: 3px solid var(--quin);
    margin-bottom: 10px;
}

.categoria{
    padding-top: 10px;
    border-top: 3px solid var(--quin);
}

.container-nosotros__info img{
    width: 100%;
    border-radius: 15px;
    margin-bottom: 10px;
 }

.contenido-bottom__hover a{
    color: black;
    cursor: pointer;
    text-decoration:underline;
}

h1{
    font-size: 30px;
}

.footer{
    margin-top: 20px;
}

.copyright p{
    color: var(--pri);
}