:root{
    --background: #504537;
    --pri: #CDC5BA;
    --sec: #9F968B;
    --ter: #756D62;
    --cuar: #3E3933;
    --quin: #372C1E;
    --blanco: #ffffff;
    --negro: #111111;
    --oscuro: #313131;
    --gris: #919191;
}
.container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

/*              Seccion de Contacto              */

.form-text h1{
    letter-spacing: 7px;
    margin-bottom: 50px;
}

.form-text h1, .form-text h2{
    text-transform: uppercase;
}

/*              Formulario              */

.container-form{
    letter-spacing: 0;
    box-sizing: border-box;
    border: 4px solid var(--quin);
    padding: 5%;
    text-transform: none;
    letter-spacing: 0;
    margin-bottom: 30px;
}

.form-margin{
    margin-bottom: 20px;
}

.form-input{
    margin-top: 5px;
    border-style: solid;
    border-width: 1px;
}

.text-margin{
    margin-bottom: 10px;
}

.text-area{
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    padding: 10px 16px;
    width: 100%;
    border-style: none;
    border-width: 0;
    background-color: var(--blanco);
}

.form textarea{
    resize: none;
}

.button-form{
    padding: 10px 85px;
    border-style: none;
    border-radius: 25px;
    background-color: var(--negro);
    color: var(--blanco);
    text-transform: uppercase;
    font-weight: bold;
    filter: drop-shadow(0 2px 5px var(--blanco));
}

@media (min-width: 768px) {
    .button-form{
        padding: 10px 25px;
    }
}

.button-form-center{
    display: flex;
    justify-content: center;
    align-items: center;
}


.button-form:hover{
    cursor: pointer;
    background-color: black;
}
.error{
    color: red;
}
.error-campo{
    background-color: #fbe3e3;
}
.container-mensaje{
    max-width: 800px;
    background-color: var(--sec);
    box-shadow: 0  5px 10px var(--ter);
    border-radius: 16px;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
    margin: 30px auto;
}
.cont-mensaje{
    display: flex;
    flex-direction: column;
    text-align: center;
    h2{
        font-size: 28px;
    }
    h3{
        font-size: 18px;
    }
    span{
        font-weight: lighter;
        font-size: 15px;
    }
    button{
        padding: 20px;
        border-style: none;
        border-radius: 25px;
        margin: 0 auto;
        background-color: #000000;
        color: var(--blanco);
        text-transform: uppercase;
        font-weight: bold;
        text-decoration: none;
        color: var(--blanco);
    }
    button:hover{
        cursor: pointer;
        filter: drop-shadow(0 2px 5px var(--blanco));
    }
}