:root{
    --pri: #FFE8D7;
    --sec: #ffb48a;
    --ter: #FFBD8C;
    --cuar: #c57d56;
    --quin: #8d4925;
    --blanco: #ffffff;
    --negro: #212121;
    --oscuro: #535b61;
    --gris: #CECECE;
}

.container{
    max-width: 100%;
    margin: 0 3%;
}

/*              Seccion de Contacto              */

.form-text h1{
    letter-spacing: 7px;
}

.form-text h1, .form-text h2{
    text-transform: uppercase;
}

.form-line h1, .form-line h2{
    display: block;
    position: relative;
    margin-bottom: 70px;
}

.form-line h2{
    margin-bottom: 40px;
}

.form-line h1::before, .form-line h2::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--negro);
    bottom: -30px;
}

.form-line h2::before{
    bottom: -20px;
}
/*              Formulario              */

.container-form{
    letter-spacing: 0;
    box-sizing: border-box;
    border: 4px solid var(--negro);
    padding: 5%;
    text-transform: none;
    letter-spacing: 0;
    margin-bottom: 30px;
}

.form-margin{
    margin-bottom: 20px;
}

.form-input{
    margin-top: 5px;
    border-style: solid;
    border-width: 1px;
}

.text-margin{
    margin-bottom: 10px;
}

.text-area{
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    padding: 10px 16px;
    width: 100%;
    border-style: none;
    border-width: 0;
    background-color: var(--blanco);
}

.form textarea{
    resize: none;
}

.button-form{
    background-color: var(--quin);
    color: var(--blanco);
    padding: 10px 25px;
    font-size: 17px;
    text-decoration: none;
    border-radius: 6px;
    text-align: center;
    border: none;
    margin-bottom: 50px;
}

.button-form-center{
    display: flex;
    justify-content: center;
    align-items: center;
}


.button-form:hover{
    cursor: pointer;
    background-color: var(--cuar);
}