:root{
    --background: #504537;
    --pri: #CDC5BA;
    --sec: #9F968B;
    --ter: #756D62;
    --cuar: #3E3933;
    --quin: #372C1E;
    --blanco: #ffffff;
    --negro: #111111;
    --oscuro: #313131;
    --gris: #919191;
}

.cont-navBar{
    padding: 15px;
}

.contenedor{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.registrarse{
    text-decoration: none;
}
.carrito{
    justify-content: center;
    display: block;
}

.prod-table{
    border: 2px solid var(--ter);
    border-radius: 16px;
    background-color:var(--pri) ;
    padding: 20px;
    width: 100%;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .prod-table{
        width: 80%;
    }
}

.total-carrito{
    text-align: center;
    border-radius: 10px;
    background-color: var(--pri);
    color: var(--quin);
    margin-top: 20px;
}
.comprar{
    width: 100%;
    text-align: center;
    border-radius: 10px;
    background-color: var(--quin);
    color: var(--pri);
    margin-top: 20px;
    box-shadow: 0  5px 10px var(--oscuro);
}
.title{
    th{
        padding: 10px;
        background-color: var(--quin);
        color: var(--sec);
    }
}
.table-desc{
    background-color: var(--gris);
}
tr{
    text-align: center;
}
.eliminar{
    background: none;
    border: none;
    color: var(--quin);
    cursor: pointer;
    font-size: 20px;
    i:hover{
        color: var(--pri);
    }
}
@media (max-width: 768px){
    .carrito{
        margin: 10px;
        font-size: 14px;
    }
    .title{
        th{
            padding: 5px;
        }
    }

}

.footer{
    margin-top: 60px;
}