:root{
    --background: #504537;
    --pri: #CDC5BA;
    --sec: #9F968B;
    --ter: #756D62;
    --cuar: #3E3933;
    --quin: #372C1E;
    --blanco: #ffffff;
    --negro: #111111;
    --oscuro: #313131;
    --gris: #919191;
}
.carrito{
    justify-content: center;
    display: block;
    margin: 60px;
}
.total-carrito{
    width: 100%;
    text-align: center;
    border-radius: 10px;
    background-color: var(--pri);
    color: var(--quin);
    margin-top: 20px;
    box-shadow: 0  5px 10px var(--oscuro);
}
.comprar{
    width: 100%;
    text-align: center;
    border-radius: 10px;
    background-color: var(--quin);
    color: var(--pri);
    margin-top: 20px;
    box-shadow: 0  5px 10px var(--oscuro);
}
.comprar{
    button{
        background: none;
        border: none;
        color: var(--pri);
        font-size: 20px;
        text-transform: uppercase;
        cursor: pointer;
    }
    a{
        background: none;
        border: none;
        color: var(--pri);
        font-size: 20px;
        text-transform: uppercase;
        cursor: pointer;
        text-decoration: none;
    }
    button:hover, a:hover{
        cursor: pointer;
        filter: drop-shadow(0 2px 5px var(--blanco));
    } 

}

.prod-table{
    border-radius: 16px;
    background-color:var(--pri) ;
    box-shadow: 0  5px 10px var(--oscuro);
    padding: 20px;
    width: 100%;
    height: 100%;

}
.title{
    
    th{
        padding: 10px;
        background-color: var(--quin);
        color: var(--sec);
    }
    
    
}
.table-desc{
    background-color: #919191;
}
tr{
    text-align: center;
}
.eliminar{
    background: none;
    border: none;
    color: var(--quin);
    cursor: pointer;
    font-size: 20px;
    i:hover{
        color: var(--pri);
    }
}
@media (max-width: 768px){
    .prod-table{
        img{
            width: 30px;
        }
    }
    .carrito{
        margin: 10px;
        font-size: 10px;
        
    }
    .title{
        th{
            padding: 3px;
        }
    }
}
