:root{
    --pri: #FFE8D7;
    --sec: #ffb48a;
    --ter: #FFBD8C;
    --cuar: #c57d56;
    --quin: #8d4925;
    --blanco: #ffffff;
    --negro: #212121;
    --oscuro: #535b61;
    --gris: #919191;
}
.container-productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}
.producto{
    background-color: var(--pri);
    border-radius: 16px;
    box-shadow: 0  5px 10px var(--oscuro);
    max-width: 350px;
    padding: 20px;
    display: flex;
    margin: 10px;
}
.foto-producto{
    img{
        width: 200px; 
        border-radius: 5px;  
        box-shadow: 0  5px 10px var(--oscuro);
    }
}
.descripcion-producto{
    height: 100%;
    padding: 10px;
    justify-content: center;
    text-align: center;
    align-items: center;
    min-width: 110px;
    img{
        width: 92px;
    }
}

.agregar{
    align-items: center;
    display: flex;
    button{
        border: none;
        color: var(--sec);
        padding: 5px;
        border-radius: 5px;
        box-shadow: 0 3px 5px var(--oscuro);
        background-color: black;
        width: 100%;
        cursor: pointer;
    }
    button:hover{
        color: var(--quin);
        background-color: var(--sec);
    }
}
.eliminar{
    align-items: center;
    display: none;
    button{
        border: none;
        color: var(--pri);
        padding: 5px;
        border-radius: 5px;
        box-shadow: 0 3px 5px var(--oscuro);
        background-color: red;
        width: 100%;
        cursor: pointer;
    }
    button:hover{
        color: var(--quin);
        background-color: var(--sec);
    }
}
@media (max-width: 768px){
    .descripcion-producto{
        img{
          width: 78px;
        }
    }
}
.prev-next{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 20px;
    button{
        margin: 5px;
        border: none;
        border-radius: 5px;
        box-shadow: 0  5px 10px var(--oscuro);
        background-color: var(--quin);
        color: var(--sec);
        cursor: pointer;
    }
}
.anterior, .siguiente{
    display: none;
}