.container-productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.producto{
    background: linear-gradient(var(--gris)50%, var(--oscuro)100%);
    box-shadow: 0  5px 10px var(--oscuro);
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 350px;
    max-height: 250px;
    padding: 20px;
    margin: 10px;
}

.producto:hover{
    transform: scale(1.03);
    transition: transform 0.3s ease-in-out;
}

.foto-producto{
    img{
        width: 180px; 
        height: 240px;
        border-radius: 10px;  
        box-shadow: 0  5px 10px var(--oscuro);
    }
}
.descripcion-producto{
    padding: 10px;
    margin: 10px;
    text-align: center;
    align-items: center;
    img{
        width: 50px;
    }
}

.agregar{
    max-width: 100%;
    justify-content: center;
    display: block;
    button{
        padding: 10px;
        border-style: none;
        border-radius: 25px;
        margin: 0 auto;
        background-color: var(--negro);
        color: var(--blanco);
        text-transform: uppercase;
        font-weight: bold;
    }
    button:hover{
        cursor: pointer;
        filter: drop-shadow(0 2px 5px var(--blanco));
    }
}

@media (max-width: 768px){
    .descripcion-producto{
        img{
          width: 78px;
        }
    }
}
.prev-next{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 20px;
    button{
        padding: 10px 25px;
        border-style: none;
        border-radius: 25px;
        margin: 25px 10px;
        background-color: var(--negro);
        color: var(--blanco);
        text-transform: uppercase;
        font-weight: bold;
    }
    button:hover{
        cursor: pointer;
        background-color: black;
    }
}